@font-face {
  font-family: 'Poppins';
  font-weight: regular;
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: medium;
  src: url('../../public/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
}
