$black: #000000;
$black-light: #171E27;
$white: #FFFFFF;
$white-dark: #F7F7F7;
$blue: #5EB0E5;

$font: 'Roboto';

$font-size-logo: 1.5rem; // 24px
$font-size-big: 1.125rem; // 18px
$font-size-body: 1rem; // 16px
